<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    {{#if chosenUser}}
        <h1>Hello {{chosenUser.name}}!</h1>
        <p>Email - {{chosenUser.email}}</p>
        <p>Password - {{chosenUser.password}}</p>
    {{/if}}

</body>
</html>
